* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif; /* Đổi font chữ thành Tahoma */
    font-size: 13px; /* Đặt size font 13px */
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #3e4d58;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 540px; 
    height: 550px; 
}

h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 100;
}

.section {
    margin-bottom: 20px;
}

.form-content {
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
}

.form-content label {
    flex: 1; 
    margin-right: 10px; 
    font-size: 13px; 
    text-align: right;
}

.form-content input {
    flex: 2; 
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 100;
}

label {
    display: block;
    font-size: 13px; 
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 13px; 
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #cc3304;
    outline: none;
}

span {
    color: #cc3304;
}

.buttons {
    display: flex;
    justify-content: center; /* Căn giữa các nút */
    gap: 20px; /* Khoảng cách giữa các nút (có thể điều chỉnh) */
}


.create-account {
    background-color: #cc3304;
    color: white;
    padding: 10px 20px;
    border: 2px solid #cc3304;
    border-radius: 5px;
    cursor: pointer;
}

.create-account:hover {
    background-color: #d94b36;
}

.cancel {
    background-color: #ffffff;
    color: #3e4d58;
    padding: 10px 20px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    cursor: pointer;
}

.cancel:hover {
    background-color: #b3b3b3;
}
